In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/trips_bulk_preprocess.csv')

In [3]:
data.head()

,timestamp,speed,temp,duration,sequence,distance,rel_altitude,rel_soc
0,2017-01-01 12:07:35,25.570312,-0.428363,0,1,0.000000,0.000000,-0.000000
1,2017-01-01 12:07:40,27.574219,-0.428363,5,1,0.040666,-0.696062,0.096667
2,2017-01-01 12:07:45,30.535156,-0.428363,10,1,0.092468,-1.234818,0.196667
3,2017-01-01 12:07:50,31.160156,-0.428363,15,1,0.142041,-1.711705,0.283333
4,2017-01-01 12:07:55,34.199219,-0.428363,20,1,0.186323,-3.369781,0.376667